In [4]:
import pandas as pd
import numpy as np
from scipy import stats

In [6]:
control_tst = pd.read_csv("control_group.csv")
control_tst.head()

  person_id  recovery_time_hrs
0      C001                4.4
1      C002                4.1
2      C003                3.2
3      C004                4.3
4      C005                4.9

In [8]:
test_group = pd.read_csv("test_group.csv")
test_group.head()

  person_id  recovery_time_hrs
0      T001                3.7
1      T002                4.1
2      T003                3.7
3      T004                3.9
4      T005                3.7

In [13]:
control_sample_mean = control_tst.recovery_time_hrs.mean()
control_std = control_tst.recovery_time_hrs.std()
control_shape = control_tst.shape[0] 
control_sample_mean , control_std , control_shape

(np.float64(4.000769230769231), np.float64(0.4795825306420972), 130)

In [16]:
test_sample_mean = test_group.recovery_time_hrs.mean()
test_std = test_group.recovery_time_hrs.std()
test_shape = test_group.shape[0] 
test_sample_mean , test_std , test_shape

(np.float64(3.9119999999999995), np.float64(0.31567788210852726), 100)

In [21]:
A = control_std**2/control_shape
B = test_std**2/test_shape
z_score =(control_sample_mean - test_sample_mean)/np.sqrt(A+B) 
z_score

np.float64(1.6879356404646)

In [25]:
Alpha = 0.05 
z_critical = stats.norm.ppf(1-Alpha)
z_critical

np.float64(1.6448536269514722)

In [26]:
z_score > z_critical

np.True_

p_value

In [28]:
p_value = 1 - stats.norm.cdf(z_score)
p_value

np.float64(0.0457117920646507)

In [29]:
p_value < Alpha

np.True_