In [4]:
import pandas as pd 
import numpy as np
from scipy import stats

In [6]:
df = pd.read_csv("house_price_increase.csv")
df

   house_id  price_increase_pct
0     NJ001                12.7
1     NJ002                11.3
2     NJ003                11.9
3     NJ004                13.2
4     NJ005                12.8
..      ...                 ...
95    NJ096                11.6
96    NJ097                11.0
97    NJ098                12.7
98    NJ099                11.1
99    NJ100                11.3

[100 rows x 2 columns]

In [7]:
df.shape

(100, 2)

In [8]:
df.price_increase_pct.describe()

count    100.00000
mean      11.00000
std        1.00975
min        8.40000
25%       10.30000
50%       11.05000
75%       11.70000
max       13.20000
Name: price_increase_pct, dtype: float64

In [11]:
population_mean = 10
population_std = 4

In [9]:
sample_mean = df.price_increase_pct.mean()
sample_mean

np.float64(11.0)

In [14]:
std_error = population_std / np.sqrt(df.shape[0])
std_error

np.float64(0.4)

In [17]:
z_score = (sample_mean - population_mean)/std_error
z_score

np.float64(2.5)

In [22]:
Alpha = 0.05

In [24]:
z_critcal = stats.norm.ppf(1-Alpha)
z_critcal

np.float64(1.6448536269514722)

In [26]:
z_score , z_critcal

(np.float64(2.5), np.float64(1.6448536269514722))