# Telecom Customer Churn Case Study

You have been provided with a dataset related to telecom customer churn. Each row in the dataset represents a unique customer, and the columns contain various attributes and information about these customers.

The data set includes information about:
- Churn Column: Indicates customer churn within the last month.
- Services Info: Subscribed services like phone, internet, etc.
- Account Details: Tenure, contract, billing, charges.
- Demographics: Gender, age, and family status.

## Load the dataset in a dataframe

In [5]:
#import necessary libraries
import pandas as pd 
df = pd.read_csv("telecom_customer_churn.csv")
df.head()

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service,online_security,...,device_protection,tech_support,streaming_tv,streaming_movies,contract,paperless_billing,payment_method,monthly_charges,total_charges,churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [8]:
#1. import the provided dataset to dataframe (telecom_customer_churn.csv)
#2. change the settings to display all the columns
#3. check the number of rows and columns
df.shape
#4. check the top 5 rows
df.head(5)

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service,online_security,...,device_protection,tech_support,streaming_tv,streaming_movies,contract,paperless_billing,payment_method,monthly_charges,total_charges,churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [11]:
#display all the column names
df.columns

Index(['customer_id', 'gender', 'senior_citizen', 'partner', 'dependents',
       'tenure', 'phone_service', 'multiple_lines', 'internet_service',
       'online_security', 'online_backup', 'device_protection', 'tech_support',
       'streaming_tv', 'streaming_movies', 'contract', 'paperless_billing',
       'payment_method', 'monthly_charges', 'total_charges', 'churn'],
      dtype='object')

In [15]:
# Check if the dataset contains nulls
df[df.total_charges.isnull()]

Empty DataFrame
Columns: [customer_id, gender, senior_citizen, partner, dependents, tenure, phone_service, multiple_lines, internet_service, online_security, online_backup, device_protection, tech_support, streaming_tv, streaming_movies, contract, paperless_billing, payment_method, monthly_charges, total_charges, churn]
Index: []

[0 rows x 21 columns]

In [16]:
#check the datatype of all columns
df.dtypes

customer_id           object
gender                object
senior_citizen         int64
partner               object
dependents            object
tenure                 int64
phone_service         object
multiple_lines        object
internet_service      object
online_security       object
online_backup         object
device_protection     object
tech_support          object
streaming_tv          object
streaming_movies      object
contract              object
paperless_billing     object
payment_method        object
monthly_charges      float64
total_charges         object
churn                 object
dtype: object

In [25]:
# Fix the datatype
#convert the datatype of 'monthly_charges', 'total_charges', 'tenure' to numeric datatype (pd.to_numeric)
df['monthly_charges'] = pd.to_numeric(df['monthly_charges'] , errors='coerce')
df['total_charges'] = pd.to_numeric(df['total_charges'] , errors='coerce')
df['tenure'] = pd.to_numeric(df['tenure'] , errors='coerce')
df.dtypes

customer_id           object
gender                object
senior_citizen         int64
partner               object
dependents            object
tenure                 int64
phone_service         object
multiple_lines        object
internet_service      object
online_security       object
online_backup         object
device_protection     object
tech_support          object
streaming_tv          object
streaming_movies      object
contract              object
paperless_billing     object
payment_method        object
monthly_charges      float64
total_charges        float64
churn                 object
dtype: object

Q1 - Calculate the mean, median, and mode of the monthly_charges column

In [23]:
round(df.monthly_charges.mean())

65

In [24]:
round(df.monthly_charges.mode())

0    20.0
Name: monthly_charges, dtype: float64

In [25]:
round(df.monthly_charges.median())

70

Q2 - Calculate the 25th, 50th, and 75th percentiles of the total_charges column

In [28]:
# 75th percentile
df['total_charges'].quantile(0.75)
#3794.7375
# 25th percentile 
df["total_charges"].quantile(0.25)
#401.45
df["total_charges"].quantile(0.50)
#1397.475

1397.475

Q3 - Calculate the range of monthly_charges column?

Hint - Range is the difference between max and min of monthly_charges.

In [ ]:
max = df["monthly_charges"].max()
min = df["monthly_charges"].min()
range = max-min
range

Q4 - What is the first quartile of the monthly_charges column for customers who have not churned?

In [40]:
not_churn = df[df["churn"] == "No"]
not_churn.shape

(5174, 21)

In [41]:
first_quartile = not_churn["monthly_charges"].quantile(0.25)
first_quartile

25.1

Q5 - What is the third quartile of the total_charges column for customers who have churned?

In [42]:
churn = df[df["churn"] == "Yes"]
churn.shape

(1869, 21)

In [43]:
third_quartile = not_churn["total_charges"].quantile(0.75)
third_quartile

4264.125

Q6-  What is the mode of the payment method column for customers who have churned?

In [46]:
df.payment_method.unique()

array(['Electronic check', 'Mailed check', 'Bank transfer (automatic)',
       'Credit card (automatic)'], dtype=object)

In [49]:
df["payment_method"].mode()

0    Electronic check
Name: payment_method, dtype: object

In [52]:
payment = churn["payment_method"].mode()
payment

0    Electronic check
Name: payment_method, dtype: object

Q7 - What is the mean of the total charges column for customers who have churned and have a month-to-month contract?

In [55]:
# Filter the rows based on the churn status and contract type
row_based = churn["total_charges"]
row_based

# Calculate the mean of the total charges column
mean = row_based.mean()

# Print the result
round(mean)

1532

Q8 - What is the median of the tenure column for customers who have not churned and have a two-year contract?

In [58]:
# Filter the rows based on the churn status and contract type
Not_Churned = not_churn["tenure"]
Not_Churned

# Calculate the median of the tenure column
median = Not_Churned.median()

# Print the result
median

38.0