In [3]:
import pandas as pd 
import numpy as np 
from scipy import stats

In [6]:
df = pd.read_csv("exam_scores.csv")
df.head()

      name  score
0    Rishi     78
1    Arjun     71
2  Lakshmi     68
3    Aditi     81
4    Aisha     85

In [10]:
population_mean = 72

In [32]:
sample_size = len(df)-1

In [35]:
sample_mean = df.score.mean()
std = df.score.std(ddof=1)
std_error = std / np.sqrt(sample_size)
sample_mean  , std , std_error

(np.float64(75.9),
 np.float64(7.826406044855286),
 np.float64(1.795500686349476))

In [36]:
t_score = (sample_mean - population_mean ) / std_error
t_score

np.float64(2.1720960786315793)

In [20]:
Alpha = 0.05

In [24]:
degree_of_freedom = sample_size

In [26]:
t_critic = stats.t.ppf(1 - Alpha, degree_of_freedom)
t_critic

np.float64(1.729132811521367)

In [37]:
# compare 
t_score > t_critic

np.True_