In [ ]:
# one tail lower means rejection is in left side and null < aulternative

In [3]:
import pandas as pd
import numpy as np
from scipy import stats

In [12]:
#  population_mean 
population_mean = 100 
population_std = 15

In [8]:
# load excel file 
one_tail_lower = pd.read_excel("z_test_one_tail_lower.xlsx" , sheet_name = "Data")
one_tail_lower.tail()

    Sample Data
35    81.687345
36   103.132954
37    70.604948
38    80.077209
39   102.952919

In [23]:
# sample mean 
sample_mean = one_tail_lower["Sample Data"].mean()
sample_std_error = population_std / np.sqrt(one_tail_lower.shape[0])

sample_mean , sample_std_error

(np.float64(96.72044742373092), np.float64(2.3717082451262845))

In [24]:
z_score = ( population_mean - sample_mean) / sample_std_error
z_score

np.float64(1.3827807796377833)

In [18]:
Alpha = 0.05

In [25]:
z_critic = stats.norm.ppf(1-Alpha)
z_critic

np.float64(1.6448536269514722)

In [26]:
# compare two z_score and z_critic 
z_score < z_critic

np.True_

In [ ]:
# z_score is less than z_critic so we reject the null hypothesis