In [3]:
import pandas as pd 
import numpy as np
from scipy import stats

In [7]:
# popl mean 
population_mean = 500
#  std 
std = 60

In [8]:
# import file 
two_tail_large = pd.read_excel("z_test_two_tail_large_sample.xlsx" , sheet_name = "Data" )
two_tail_large.tail()

    Sample Data
55   546.564006
56   458.039124
57   484.539381
58   516.563172
59   548.777256

In [11]:
# sample mean 
sample_mean = two_tail_large["Sample Data"].mean()
std_error = population_mean / np.sqrt(two_tail_large.shape[0])

sample_mean , std_error

(np.float64(492.26726584647554), np.float64(64.54972243679028))

In [13]:
z_score = (population_mean - sample_mean ) / std_error
z_score

np.float64(0.11979500238899819)

In [15]:
Alpha = 0.01

In [17]:
z_critic = stats.norm.ppf(1-Alpha/2)
z_critic

np.float64(2.5758293035489004)

In [19]:
#  now we compare the value 
z_score > z_critic

np.False_

z_score is less than z_critic so we reject the alternative hypothesis